.create-password {
  .container p {
    opacity: 0.5;
    transition: 0.3s;
  }

  .container p span {
    font-size: 15px;
    font-weight: 500;
    color: #1a2b44;
    margin-left: 30px;
  }

  .fa-times {
    opacity: 0;
  }
  .fa-check {
    opacity: 1;
  }

  .container p .icon {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    border: 2px solid #2563eb;
    background: #2563eb;
    padding: 3px;
  }

  .container #show_hide {
    color: rgb(26, 43, 68);
    font-size: 20px;
    transform: translateX(240px) translateY(-30px);
    cursor: pointer;
  }
}

.btn-login {
  display: flex;
  align-items: center;
  span {
    margin-right: 6px;
  }
}
